.card-main {
  background-color: antiquewhite;
  border-radius: 10px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.678);
  display: flex;
  flex-direction: column;
  height: 450px;
  padding: 10px;
  width: 300px;
}

.main-section {
  background-image: url('../img/mudassir.jpg');
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 10px;
}

.card-title {
  align-items: center;
  background-color: rgb(2, 128, 160);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  display: flex;
  font-size: 30px;
  height: 40px;
  justify-content: flex-end;
  padding-right: 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.555);
  width: 100%;
}

.img-container {
  background-color: rgb(240, 229, 133);
  height: 158px;
}

.empty, .card-img {
  height: 100%;
  width: 100%;
}

.description {
  background-color: rgba(2, 128, 160, 0.637);
  border: 3px double antiquewhite;
  border-radius: 0;
  color: white;
  font-weight: 400;
  height: 60px;
  padding: 3px;
  text-align: center;
  width: 100%;
}

.ps-container {
  align-items: flex-end;
  background-color: antiquewhite;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: space-around;
  padding: 30px;
  position: relative;
  text-shadow: 1px 1px 2px white;
  width: 100%;
}

.p-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-span {
  background-color: rgba(2, 128, 160, 0.555);
  height: 10px;
  padding-left: 20px;
}

p {
  align-items: center;
  background-color: rgba(2, 128, 160, 0.555);
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  font-weight: 700;
  height: 20px;
  justify-content: center;
  text-shadow: 1px 1px 2px white;
  width: 80px;
}

.trunfo {
  background-color: rgb(196, 54, 54);
  border: 3px double antiquewhite;
  border-radius: 40%;
  bottom: 5px;
  box-shadow: 1px 1px 4px black;
  color: rgb(73, 73, 73);
  font-size: 10px;
  height: 25px;
  left: 45px;
  padding: 2px;
  position: absolute;
  text-shadow: 1px 1px 1px white;

  /* -webkit-transform: skew(-20deg); */
  width: 80px;
}
