.form-main {
  align-items: center;
  background-color: rgba(2, 128, 160, 0.637);
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-evenly;
  padding: 30px;
  width: 400px;
}

span {
  width: 120px;
}

.select-span {
  width: 60px;
}

.select-check-container {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
}

.save-button {
  background-color: rgb(0, 76, 95);
  border-radius: 5px;
  color: white;
  font-size: 15px;
  height: 30px;
  width: 100%;
}

button:disabled {
  background-color: rgb(109, 144, 153);
}
