@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap' ) ;

* {
  box-sizing: border-box;
  font-family: Kanit , sans-serif;
  font-size: 12px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  text-align: center;
}

body {
  align-items: center;
  background-image: url('./img/mudassir.jpg');
  display: flex;
  justify-content: center;
}

.app-main {
  align-items: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 5px 20px black;
  display: flex;
  height: 600px;
  justify-content: space-evenly;
  width: 70vw;
}

.input-group-text {
  background-color: white;
}

.form-control:focus, .form-control:active {
  border: 1px solid rgb(0, 76, 95);
  box-shadow: none;
  resize: none;
}

.form-select {
  background-color: rgb(0, 76, 95);
  color: white;
  width: 100%;
}
